{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container-fluid">
    <div class="row mb-5 mt-5">

         <!-- review form -->
         <div class="col-8 offset-2 col-md-4 offset-md-1 pt-5">
            <h3>Leave a Review</h3>
            <form method="post" action="">
                {% csrf_token %}
                {% if review_form %}
                {{ review_form|crispy }}
                {% else %}
                <p>Review form is not provided to the template.</p>
                {% endif %}
                <button type="submit" class="btn btn-dark rounded-0">SUBMIT</button>
            </form>
        </div>

        <!-- product details -->
        <div class="col-8 offset-2 col-md-4 offset-md-1">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
            <div class="product-details-container mb-5 mt-md-5 ">
                <p class="mb-2">Album Title: <strong>{{ product.name }}</strong></p>
                {% if product.artist %}
                <p class="mb-2">Artist: <strong>{{ product.artist }}</strong></p>
                {% else %}
                <p class="mb-0"></p>
                {% endif %}
                {% if product.release_date %}
                <p class="mb-2">Year Released: <strong>{{ product.release_date }}</strong></p>
                {% else %}
                <p class="mb-0"></p>
                {% endif %}
                <p class="mb-2">{{ product.description }}</p>
                <p class="lead mb-0 font-weight-bold">€{{ product.price }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}