/* Global style rules */

:root {
    --background: #f4f1e0;
    --background-secondary: #321e1e24;
    --text: #321e1e;
    --text-faded: #9a9a9a;
    --wished: red;
}

html {
    height: 100%;
    border-radius: 0 !important;
}

body {
    
    background-color: #f4f1e0;
    font-family: 'Oswald';
    color: var(--text) !important;
    border-radius: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--text);
}

a {
    color: var(--text);
}

a:hover {
    /* border: 1px solid black; */
    background-color: var(--text) !important;
    color: var(--background) !important;
    text-decoration: none;
}


.jumbotron {
    background-image: url('/media/jumbotron-image-3-modified.jpg');
    background-size: cover;
}

.banner {
    background-color: black;
    color: white;
}

.card, .card-footer{
    background-color: var(--background);
    font-family: Noto Sans;
    font-size: .9em;
}


#search-btn {
    background-color: var(--text);
}

.fa-magnifying-glass {
    color: var(--background);
}

.btn {
    color: var(--text);
}

.btn-dark {
    background-color: var(--text);
    color: var(--background);
}


.btn-dark:hover {
    background-color: var(--background);
    color: var(--text);
}

.tags {
    color: var(--text);
}

#dropdownMenuLink {
    font-family: "Oswald";
}

.dropdown-menu {
    background-color: var(--background);
}

.dropdown-divider {
    border-color: var(--text);
    border-width: .1em;
}

/* #user-options {
    min-width: 550px;
} */

li {
    list-style-type: none;
}

#sidebar {
    font-size : .9em;
}

.sidebar-lists {
    overflow:scroll; 
    height:250px;
}

.fa-heart {
    color: red;
    font-size: large;
}

.cart-image {
    max-height: 150px;
}

thead {
    background-color: var(--text);
    color: #f4f1e0;
}

.form-control {
    background-color: #f4f1e0;
    border: 1px solid var(--text);
}

.qty_input {
    background-color: #f4f1e0;
    border: none !important;
}

.allauth-form-content input {
    border-radius: 0;
    border-color: var(--text);
}

.allauth-form-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-content input::placeholder {
    color: var(--text-faded);
}

.remove-item,
.update-link {
    cursor: pointer;
}

/* .remove-item:hover, */
/* .update-link:hover {
    background-color: #f4f1e0 !important;
    color: #321e1e !important;
    border: 1px solid #321e1e;
} */

.remove-item:hover {
    background-color: var(--background) !important;
}

td p {
    margin: 0;
}

#tally-box{
    background-color: #321e1e24;
    /* background-color: #dfd2bd; */
    /* background-color: #e1d9cc; */
}

/* toast messages */

.message-box {
    background-color: var(--text-faded);
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
    opacity: 1 !important;
}


.toast-capper {
    height: 2px;
}

.toast-body,
.toast-header {
    opacity: 1 !important;
    background-color: #321e1e24;
    color: var(--text);
    font-family: Noto Sans;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Image widget */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.reviews {
    background-color: #321e1e24;
}

.wish-btn {
    border: 0;
    background-color: var(--background);
}

.wish-list-remove {
    background-color: var(--background);
    color: var(--text);
    border: 0;
}

.wish-list-remove:hover {
    color: red;
}

.hidden-qty {
    display: none;
}