/* Global style rules */

:root {
    --background: #f4f1e0;
    --background-secondary: #321e1e24;
    --text: #321e1e;
    --text-faded: #9a9a9a;
    --wished: red;
}

html {
    height: 100%;
    border-radius: 0 !important;
}

body {
    
    background-color: #f4f1e0;
    font-family: 'Oswald';
    color: var(--text) !important;
    border-radius: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text);
}

p {
    letter-spacing: .075em;
}

a {
    color: var(--text);
}

a:hover {
    background-color: var(--text) !important;
    color: var(--background) !important;
    text-decoration: none;
}

li {
    list-style-type: none;
}


.btn {
    color: var(--text);
}

.btn:hover {
    background-color: var(--text);
    color: var(--background);
}

.btn-dark {
    background-color: var(--text);
    color: var(--background);
}

.btn-alt {
    background-color: var(--background-secondary);
    color: var(--text);
}

.btn-dark:hover {
    background-color: var(--background) !important;
    color: var(--text) !important;
}

.form-control {
    background-color: #f4f1e0;
    border: 1px solid var(--text);
    border-radius: 0;
}


/* Navigation Bar */

#nav-container {
    justify-content: space-around;
}

.d-flex {
    display: flex!important;
    align-items: flex-end;
}

#search-btn {
    background-color: var(--text);
}

#search-btn-2 {
    background-color: var(--text);
}

.fa-magnifying-glass {
    color: var(--background);
}

/* Jumbotron */
#small-logo {
    font-size: larger;
}

.jumbotron {
    background-image: url('/media/jumbotron2.jpg');
    height: 60vh;
    background-size: cover;
    background-position-y: 80%;
}

.banner {
    background-color: black;
    color: white;
    font-size: small;
}


/* Main Page */

.title-dark {
    background-color: var(--text);
    color: var(--background);
 }


.tags {
    color: var(--text);
}

/* Product card */

.card, .card-footer{
    background-color: var(--background);
    font-family: "Noto Sans";
    font-size: .9em;
}

.image-link:hover {
    background-color: var(--background) !important;
}

/* product detail page */

#product-detail-description {
    font-family:  "Noto Sans";
}

.review-board {
    font-family: "Noto Sans";
}


.pagination {
    justify-content: center;
}


/* Cart */

#add-to-cart-btn {
    background-color: var(--text);
    color: var(--background);
}

#add-to-cart-btn:hover {
    background-color: var(--background);
    color: var(--text);
}

.hidden-qty {
    display: none;
}

.qty_input {
    background-color: #f4f1e0;
    border: none !important;
}

thead {
    background-color: var(--text);
    color: #f4f1e0;
}

.remove-item,
.update-link {
    cursor: pointer;
}

.remove-item:hover {
    background-color: var(--background) !important;
}

.cart-image {
    max-height: 150px;
}

/* Dropdowns */

#dropdownMenuLink {
    font-family: "Oswald";
}

.dropdown-menu {
    background-color: var(--background);
    color: var(--text);
}

.dropdown-item {
    color: var(--text);
}

.dropdown-divider {
    border-color: var(--text);
    border-width: .1em;
}

.show >.btn-dark.dropdown-toggle {
    background-color: var(--text) !important;
}

.btn-dark:focus {
    background-color: var(--text);
    color: var(--background);
}

.dropdown-toggle.active:hover {
    color: var(--background) !important;
  }


/* Filtering */

.sidebar-lists {
    overflow:scroll; 
    height:250px;
}

#filtering {
    font-size: .9em;
    line-height:250%;
}


.sort-inner a:hover {
    
    background-color: var(--background-secondary) !important;
    color: var(--text) !important;
}


.sort-inner {
    background-color: var(--background-secondary) !important;
    font-size: medium;
    font-family: "Noto Sans";
    font-size: .8em;
    line-height: 200%;
    right: 0;
}

.drop-menu-filter.dropdown-menu.show {
    transform: translate3d(0px, 52px, 0px) !important;
}


/* icons */

.fa-heart {
    color: red;
    font-size: large;
}

/* All Auth Forms */

.allauth-form-content input {
    border-radius: 0;
    border-color: var(--text);
}

.allauth-form-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-content input::placeholder {
    color: var(--text-faded);
}


td p {
    margin: 0;
}

#tally-box{
    background-color: #321e1e24;
}

/* toast messages */

.message-box {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.toast-capper {
    height: 3px;
}

.toast-body,
.toast-header {
    color: var(--text);
    font-family: "Noto Sans";
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-cart-section {
    background-color: var(--background);
    color: var(--text);
}

/* Image widget */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #b90d1e;
    border-radius: 0;
}

/* Reviews */

.reviews {
    background-color: var(--background-secondary);
}

/* Wish List */

.wish-btn {
    border: 0;
    background-color: var(--background);
}

.wish-list-remove {
    background-color: var(--background);
    color: var(--text);
    border: 0;
}

.wish-list-remove:hover {
    color: red;
}


/* Footer */

.social-icon:hover {
    background-color: var(--background) !important;
    color: var(--text) !important;
    /* text-decoration: none; */
}

.social-icon {
    color: var(--text) !important;
}

#footer {
    background-color: var(--background-secondary);
}


/* About Page */

#about-container p {
    font-family: "Noto Sans";
}


/* Stock Management */

#stock-container p {
    font-family: "Noto Sans";
}


/* Newsletter */

.newsletter-footer {
    font-size: small;
}

.modal-content {
    background-color: var(--background);
    color: var(--text)
}

