html {
    height: 100%;
    border-radius: 0 !important;
}

body {
    /* background-color: #f5efcd; */
    background-color: #f4f1e0;
    font-family: 'Oswald';
    color: #321e1e;
    border-radius: 0 !important;
}

a {
    color: #321e1e;
}

a:hover {
    /* border: 1px solid black; */
    background-color: #321e1e !important;
    color: white !important;
    text-decoration: none;
}

.jumbotron {
    background-image: url('/media/jumbotron-image-3-modified.jpg');
    background-size: cover;
}

.card, .card-footer{
    background-color: #f4f1e0;
    font-family: Noto Sans;
    font-size: .9em;
}


#search-btn {
    background-color: #321e1e;
}

.fa-magnifying-glass {
    color: #f4f1e0;
}

.btn-dark {
    background-color: black;
}

.tags {
    color: #321e1e;
}

#dropdownMenuLink {
    font-family: "Oswald";
}

.dropdown-menu {
    background-color: #f4f1e0;
}

.dropdown-divider {
    border-color:#321e1e;
    border-width: .1em;
}

li {
    list-style-type: none;
}

#sidebar {
    font-size : .9em;
}

.sidebar-lists {
    overflow:scroll; 
    height:250px;
}

.fa-heart {
    color: red;
    font-size: large;
}