{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner-content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn-dark" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>

    <a href="{% url 'shop' %}" class="btn rounded-0 mt-5">
        <span class="icon">
          <i class="fa-regular fa-hand-point-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
      </a>
{% endblock %}
