{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner-content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn-dark" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>

    <a href="{% url 'shop' %}" class="btn rounded-0 mt-5">
        <span class="icon">
          <i class="fa-regular fa-hand-point-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
      </a>
{% endblock %}
