{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner-content %}
<h1>{% trans "SIGN UP" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">LOG-IN</a>.{% endblocktrans %}</p>

<form class="signup rounded-0" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn-dark rounded-0" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
<a href="{% url 'shop' %}" class="btn rounded-0 mt-5">
  <span class="icon">
    <i class="fa-regular fa-hand-point-left"></i>
  </span>
  <span class="text-uppercase">Keep Shopping</span>
</a>

{% endblock %}
