{% load static %}

<!doctype html>
<html lang="en">

<head>

	{% block meta %}
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% endblock %}

	{% block extra_meta %}
	{% endblock %}




	{% block corecss %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Oswald:wght@500&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% endblock %}

	{% block extra_css %}
	{% endblock %}

	{% block corejs %}
	<script src="https://kit.fontawesome.com/d11678a87a.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
		integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
	</script>
	  <!-- Stripe -->
	  <script src="https://js.stripe.com/v3/"></script>
	{% endblock %}

	{% block extra_js %}
	{% endblock %}

	<title>Hard Copy {% block extra_title %}{% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="/media/favicon(1).ico">
</head>

<body>
	<header>
		<nav class="d-flex navbar">
			<div class="container-fluid" id="nav-container">
				<div class="row d-flex w-100">
					<!-- Logo -->
					<div class="col-6 col-lg-3  d-none d-sm-block p-0 text-left">
						<h1 class="m-0"><a href="{% url 'shop' %}" class="p-2">HARD COPY</a></h1>
					</div>
					<div class="col-6 d-sm-none p-0 text-left">
						<h1 class="m-0" id="small-logo"><a href="{% url 'shop' %}" class="p-2">HARD COPY</a></h1>
					</div>
					<!-- Small serch bar -->
					<div class="col-6 d-none d-lg-block">
						<form class="d-flex input-group" method="GET" action="{% url 'shop' %}">
							<input type="text" name="q" class="form-control rounded-0" placeholder="SEARCH" aria-label="Search">
							<div class="input-group-append">
								<button class="form-control btn rounded-0" id="search-btn" type="submit">
									<span class="icon">
										<i class="fa-solid fa-magnifying-glass"></i>
									</span>
								</button>
							</div>
						</form>
					</div>
					<!-- Nav Icon Links -->
					<div class="col-6 col-lg-3 p-0">
						<ul class="list-inline list-unstyled text-right m-0">
							{% if request.user.is_authenticated %}
							<li class="list-inline-item">
								<a href="{% url 'list_of_wishes' %}" class="p-2">
									<i class="fa-sharp fa-solid fa-bookmark"></i>
								</a>
							</li>
							{% endif %}
							<li class="list-inline-item dropleft">
								<a class="p-2" href="#" role="button" data-toggle="dropdown"   aria-haspopup="true" aria-expanded="false">
									<i class="fa-solid fa-user"></i>
								</a>
								<div class="dropdown-menu rounded-0 mt-3" id="user-options" aria-labelledby="user-options" >
									{% if request.user.is_authenticated %}
										{% if request.user.is_superuser %}
											<a href="{% url 'add_product' %}" class="dropdown-item">Stock Management</a>
											<div class="dropdown-divider"></div>
										{% endif %}
										<a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
										<div class="dropdown-divider"></div>
										<a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
									{% else %}
										<a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
										<div class="dropdown-divider"></div>
										<a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
									{% endif %}
								</div>
							</li>
							<li class="list-inline-item">
								<a href="{% url 'view_cart' %}" class="p-2">
									<i class="fa-solid fa-cart-shopping"></i>
									[{% if product_count %}
									{{ product_count }}
									{% else %}
									0
									{% endif %}]
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Full width search bar -->
				<div class="row w-100">
					<div class="col-12 d-lg-none mt-3">
						<form class="d-flex input-group" method="GET" action="{% url 'shop' %}">
							<input type="text" name="q" class="form-control rounded-0" placeholder="SEARCH" aria-label="Search">
							<div class="input-group-append">
								<button class="form-control btn rounded-0" id="search-btn" type="submit">
									<span class="icon">
										<i class="fa-solid fa-magnifying-glass"></i>
									</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			
				<hr class="w-100">
				<div class="row text-center w-100">
					<div class="col dropright show">
						<a class="dropdown-toggle p-2" href="#" role="button" data-toggle="dropdown" id="dropdownMenuLink" 
							aria-haspopup="true" aria-expanded="false">
							VINYLS
						</a>

						<div class="dropdown-menu rounded-0" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="{% url 'shop' %}?category=vinyl,new_releases,clearance">ALL VINYLS</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="">GENRES</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'shop' %}?category=new_releases">NEW RELEASES</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'shop' %}?category=clearance">CLEARANCE</a>

						</div>

					</div>
					<div class="col">
						<a class="p-2" href="{% url 'shop' %}?category=equipment">EQUIPMENT</a>
					</div>
					<div class="col">
						<a class="p-2" href="{% url 'shop' %}?category=merchandise">MERCH</a>
					</div>
					<div class="col d-none d-lg-block">
						<a class="p-2" href="{% url 'shop' %}?category=new_releases">NEW RELEASES</a>
					</div>
					<div class="col d-none d-sm-block">
						<a class="p-2" href="{% url 'shop' %}?category=clearance">CLEARANCE</a>
					</div>
				</div>
			</div>
		</nav>
	</header>

	{% if messages %}
	<div class="message-box">
		
		{% for message in messages %}
			{% with message.level as level %}
				{% if level == 40 %}
					{% include 'includes/toasts/toast_error.html' %}
				{% elif level == 30 %}
					{% include 'includes/toasts/toast_warning.html' %}
				{% elif level == 25 %}
					{% include 'includes/toasts/toast_success.html' %}
				{% else %}
					{% include 'includes/toasts/toast_info.html' %}
				{% endif %}
			{% endwith %}
		{% endfor %}
	</div>
	{% endif %}

	{% block page_header %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% include 'includes/footer.html' %}

	{% block postloadjs %}
	<script>
		$('.toast').toast('show');
		// $('.toast').toast({delay:2000, animation:true});
		

	</script>
	{% endblock %}



</body>

</html>