{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container mb-5" id="stock-container">
        <div class="row mb-5">
            <div class="col-8 offset-2 text-center">
                <hr>
                <h2 class="logo-font mb-4">STOCK MANAGEMENT</h2>
                <h4>Logged-in staff members can add a new product from the form below.</h4>
                <p>If you wish to edit or delete a product, once you are logged-in with your staff account,
                    just find the product through the normal store front, and below the "ADD TO CART" button
                    you will find a link to edit and to delete
                </p>
                <p>Alternatively you can log into the admin panel and manage the stock from there.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-8 offset-2">
                <h5>Add a Product</h5>
                <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data" class="form mb-2" >
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <hr>
                        <a class="btn btn-dark rounded-0" href="{% url 'shop' %}">CANCEL</a>
                        <button class="btn btn-dark rounded-0" type="submit">ADD PRODUCT</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#id_image').change(function() {
            var file = $('#id_image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}