{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Image and banner -->
<div class="jumbotron  rounded-0 m-0 ">
    <p class="text-right mx-4">
        <img src="/media/Hard-Copy-logo-modified-small.png" alt="Large banner image of room with musical intruments and vinyl records">
    </p>
</div>
<div class="m-0 p-0 w-100"></div>
    <p class="banner lead m-0 rounded-0 w-100 text-center"> FREE DELIVERY ON ORDERS OVER
    €{{ free_delivery_threshold }}!!</p>
</div>
<div class="container-fluid">
    <div class="row">

        <!--Mobile Filtering -->
        {% include 'shop/includes/mobile-filters.html' %}

        <!-- Main Filtering -->
        {% include 'shop/includes/main-filters.html' %}

        <div class="col">
             <!-- Products Header -->
            <div class="row mb-4">
                <div class="col text-center mt-3">
                    <h2>PRODUCTS</h2>
                    {% for c in current_categories %}
                    <a class="tags p-2" href="{% url 'shop' %}?category={{ c.name }}">
                        <i class="fa-solid fa-hashtag"></i>{{ c.friendly_name }}
                    </a>
                    {% endfor %}
                    {% for g in current_genres %}
                    <a class="tags p-2" href="{% url 'shop' %}?genre={{ g.name }}">
                        <i class="fa-solid fa-hashtag"></i>{{ g.friendly_name }}
                    </a>
                    {% endfor %}
                    <hr class="w-50 mb-1">
                </div>
            </div>
            <!-- Product Display -->
            <div class="row">
                <div class="product-container col-10 offset-1">
                    <div class="row mt-1 mb-2">
                        {% for product in page_obj %}
                        <div class="col-6 col-lg-4 col-xl-3 mb-4">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid mb-2" src="{{ product.image }}"
                                        alt="Image of {{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image2.jpg"
                                        alt="No image available">
                                </a>
                                {% endif %}
                                <div class="card-body p-0 w-100">
                                    <div class="float-right">
                                        <form class="wish_form" action="{% url 'wish_list' product.id %}" method="POST">
                                            {% csrf_token %}
                                            {% if user.is_authenticated %}
                                            
                                                {% if product.id in wish_item %}
                                                    <button class="wish-btn" type="submit" name="wish_list_id" value="{{product.id}}" title="Remove from wish list">
                                                        <i class="fa-sharp fa-solid fa-bookmark fa-beat"></i></button>
                                                {% else %}
                                                    <button class="wish-btn" type="submit" name="wish_list_id" value="{{product.id}}" title="Add this product to your wish list">
                                                        <i class="fa-sharp fa-regular fa-bookmark"></i></button>
                                                {% endif %}
                                               
                                            {% else %}
                                                <button class="wish-btn" type="submit" name="wish_list_id" value="{{product.id}}" title="You must be logged in to add items to your wish list">
                                                    <i class="fa-sharp fa-regular fa-bookmark"></i></button>
                                            {% endif %}
                                        </form>
                                    </div>
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                                    <p class="mb-0">
                                        <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                    </p>
                                    {% if product.artist %}
                                    <p class="mb-0 text-left">
                                        <a href="{% url 'shop' %}?artist={{ product.artist }}">{{ product.artist }}</a>
                                    </p>
                                    {% endif %}
                                </div>
                                <div class="card-footer p-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col mt-2">
                                            <span class="float-right ml-2 small tags d-none d-md-block">
                                                    <a class="p-1" href="{% url 'shop' %}?category={{ product.category.name }}">
                                                        <i class="fa-solid fa-hashtag"></i>{{ product.category.friendly_name }}
                                                    </a>
                                            </span>
                                            <span class="float-left ml-2 small tags d-md-none">
                                                <a class="p-1" href="{% url 'shop' %}?category={{ product.category.name }}">
                                                    <i class="fa-solid fa-hashtag"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </span>
                                            <span class="float-left mr-2 small tags">
                                                    <a class="p-1" href="{% url 'shop' %}?genre={{ product.genre.name }}">
                                                        <i class="fa-solid fa-hashtag"></i>{{ product.genre.friendly_name }}
                                                    </a>
                                            </span>
                                        
                                            <form class="form text-center"
                                                action="{% url 'add_to_cart' product.id %}?source=list_of_wishes"
                                                method="POST">
                                                {% csrf_token %}
                                                <input class="hidden-qty" type="number" name="quantity" value="1"
                                                    min="1" max="99" data-item_id="{{ product.product.id }}"
                                                    id="id_qty_{{ product.id }}">
                                                <input type="submit" class="btn-dark rounded-0 text-uppercase mt-3 w-75"
                                                    value="Add to Cart">
                                            </form>
                                        
                                            {% if request.user.is_superuser %}
                                            <span class="float-left ml-5 mt-2 small">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a>
                                            </span>
                                            <span class="float-right mr-5 mt-2 small">
                                                    <a href="{% url 'delete_product' product.id %}">Delete</a>
                                            </span>
                                            {% endif %} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="row-12 text-center w-100 pt-5">
                            <p>Currently we have no stock matching your criteria. Browse all our products here:</p>
                            <a href="{% url 'shop' %}" class="btn-dark p-2">ALL PRODUCTS</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- pagination -->
                {% if pagination %}
                <div class="row w-100 mt-4 text-center">
                    <nav class="text-center m-5 w-100" aria-label="Page navigation">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li>
                                    <a class="btn-dark p-2 mx-3" href="?page={{ page_obj.previous_page_number }}">
                                    <span class="icon"><i class="fa-regular fa-hand-point-left"></i></span>
                                    <span class="text-uppercase">PREVIOUS</span></a>
                                </li>
                            {% endif %}

                                {% for num in page_obj.paginator.page_range %}
                                {% if num == page_obj.number %}
                                    <span class="current-page p-2 text-muted">{{ num }}</span>
                                {% else %}
                                    <a class="p-2" href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                                {% endfor %}
                        
                            {% if page_obj.has_next %}
                                <li>
                                    <a class="btn-dark p-2 mx-3" href="?page={{ page_obj.next_page_number }}">
                                    <span class="text-uppercase">NEXT</span>
                                    <span class="icon"><i class="fa-regular fa-hand-point-right"></i></span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/quantity_input_script.html' %}
{% endblock %}