{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="jumbotron  rounded-0">
        <p class="text-right mx-4">
            <img src="/media/Hard-Copy-logo-modified-small.png">
        </p>
        <p class="banner lead my-1 rounded-0 w-50 text-center"> FREE DELIVERY ON ORDERS OVER €{{ free_delivery_threshold }}!!</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 mt-5">

                <div class="w-100 border-right border-dark" id="sidebar">
                    <h3>SORT BY</h3>
                        <ul class="p-0">
                            <li class="m-2"><a class="p-2" href="{% url 'shop' %}?sort=price&direction=asc" class="">Price(low to high)</a></li>
                            <li class="m-2"><a class="p-2" href="{% url 'shop' %}?sort=price&direction=desc" class="">Price(high to low)</a></li>
                            <li class="m-2"><a class="p-2" href="{% url 'shop' %}?sort=release_date&direction=asc" class="">Year(old to young)</a></li>
                            <li class="m-2"><a class="p-2" href="{% url 'shop' %}?sort=release_date&direction=desc" class="">Year(young to old)</a></li>
                        </ul>
                    <h3>GENRES</h3>
                        <ul class="p-0 sidebar-lists">
                            {% for genre in genre_list %}
                            <li class="m-2"><a class="p-2" href="{% url 'shop' %}?genre={{ genre.name }}">{{ genre.friendly_name }}</a></li>
                            {% endfor %}
                        </ul>
                    <h3>ARTISTS</h3>
                        <ul class="p-0 sidebar-lists">
                            {% for artist in artists %}
                            <li class="m-2"><a class="p-2" href="{% url 'shop' %}?artist={{ artist }}">{{ artist }}</a></li>
                            {% endfor %}
                        </ul>
                </div>

            </div>
            <div class="col">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">PRODUCTS</h2>
                    {% for c in current_categories %}
                    <a class="tags p-2" href="{% url 'shop' %}?category={{ c.name }}">
                        <i class="fa-solid fa-hashtag"></i>{{ c.friendly_name }}
                    </a>
                {% endfor %}
                {% for g in current_genres %}
                    <a class="tags p-2" href="{% url 'shop' %}?genre={{ g.name }}">
                        <i class="fa-solid fa-hashtag"></i>{{ g.friendly_name }}
                    </a>
                {% endfor %}
                    <hr class="w-50 mb-1">
                </div>
            </div>
            <div class="row">
            
                <div class="product-container col-10 offset-1">
                    <div class="row mt-1 mb-2">
                        <div class="row">
                            {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                                <div class="card h-100 border-0">
                                    {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid mb-2" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image2" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    <div class="card-body p-0 w-100">
                                        <p class="mb-0">{{ product.name }}</p>
                                        {% if product.artist %}
                                                <p class="mb-0 text-left"><a>{{ product.artist }}</a></p>
                                                {% else %}
                                                    <p></p>
                                                {% endif %}
                                    </div>
                                    <div class="card-footer p-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                <p class="small mt-0 mb-0 tags">
                                                    <a class="" href="{% url 'shop' %}?category={{ product.category.name }}">
                                                        <i class="fa-solid fa-hashtag"></i>{{ product.category.friendly_name }}
                                                    </a>
                                                </p>
                                                <p class="small mt-0 mb-0 tags">
                                                    <a class="" href="{% url 'shop' %}?genre={{ product.genre.name }}">
                                                        <i class="fa-solid fa-hashtag"></i>{{ product.genre.friendly_name }}
                                                    </a>
                                                </p>
                                                <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                                                <a class=" text-left btn border-dark rounded-0">Add to cart</a><span class="float-right"><i class="far fa-heart red"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
{% endblock %}