{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Current product image -->
        <div class="col-8 offset-2 col-md-6 offset-md-0 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
            <div class="row">
                <a href="{% url 'shop' %}" class="btn rounded-0 border-0 w-100 mb-2 ml-2">
                    <span class="icon"><i class="fa-regular fa-hand-point-left"></i>
                    </span><span>KEEP SHOPPING</span>
                </a>
            </div>
        </div>
        <!-- Current product info -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5 text-left">
                <p class="mb-2">Album Title: <strong>{{ product.name }}</strong></p>
                {% if product.artist %}
                    <p class="mb-2">Artist: <strong>{{ product.artist }}</strong></p>
                {% endif %}
                {% if product.release_date %}
                    <p class="mb-2">Year Released: <strong>{{ product.release_date }}</strong></p>
                {% endif %}
                    <p class="mb-2" id="product-detail-description">{{ product.description }}</p>
                    <p class="lead mb-0 font-weight-bold">€{{ product.price }}</p>
                {% if product.category %}
                    <p class="small mt-1 mb-0 tags">
                    <a class="mx-3" href="{% url 'shop' %}?category={{ product.category.name }}">
                        <i class="fa-solid fa-hashtag"></i>{{ product.category.friendly_name }}
                    </a>
                    <a class="mx-3" href="{% url 'shop' %}?genre={{ product.genre.name }}">
                        <i class="fa-solid fa-hashtag"></i>{{ product.genre.friendly_name }}
                    </a>
                    </p>
                {% endif %}
                <!-- Wishlist button -->
                <form class="wish_form" action="{% url 'wish_list' product.id %}" method="POST">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        {% if wished_for %}
                            <button class="wish-btn" type="submit" name="wish_list_id" value="{{product.id}}"><i
                                    class="fa-sharp fa-solid fa-bookmark fa-beat"></i></button>
                        {% else %}
                            <button class="wish-btn" type="submit" name="wish_list_id" value="{{product.id}}"><i
                                    class="fa-sharp fa-regular fa-bookmark"></i></button>
                        {% endif %}
                    {% else %}
                        <button class="wish-btn" type="submit" name="wish_list_id" value="{{product.id}}"><i
                                class="fa-sharp fa-regular fa-bookmark"></i></button>
                    {% endif %}
                </form>
                <!-- Add to Cart form with quantity selector -->
                <form class="form" action="{% url 'add_to_cart' product.id %}?source=product_detail" method="POST">
                    {% csrf_token %}
                    <div class="form-row">

                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-dark rounded-0"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span>
                                                <i class="fa-solid fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input text-center" type="number" name="quantity"
                                        value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                        id="id_qty_{{ product.id }}">

                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-dark rounded-0"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span>
                                                <i class="fa-solid fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="submit" class="btn rounded-0 text-uppercase mt-5 w-100"
                                value="Add to Cart" id="add-to-cart-btn">
                        </div> 
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="w-50">
</div>
<!-- Review Section -->
{% include 'includes/reviews-display.html' %}

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/quantity_input_script.html' %}
{% endblock %}