<div class="col-12">
    <div class="row mt-3 d-lg-none">
        <!-- Sort By Section -->
        <div class="col-4 dropdown position-static w-100">
            <button class="btn btn-dark rounded-0 border-0 w-100 dropdown-toggle" 
                type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SORT BY
            </button>
            <div class="dropdown-menu drop-menu-filter w-100 rounded-o p-0" aria-labelledby="dropdownMenuButton1">
                <div class="row w-100 m-0 sort-dropdown">
                    <div class="col-12 p-3 m-0 sort-inner">
                        <h3>Sort By</h3>
                        <ul class="p-0">
                            <li><a class="p-2" href="{% url 'shop' %}?sort=price&direction=asc">Price(low to high)</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="p-2" href="{% url 'shop' %}?sort=price&direction=desc">Price(high to low)</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="p-2" href="{% url 'shop' %}?sort=release_date&direction=asc">Year(old to young)</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="p-2" href="{% url 'shop' %}?sort=release_date&direction=desc">Year(young to old)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Genre Section -->
        <div class="col-4 text-center dropdown position-static w-100">
            <button class="btn btn-dark rounded-0 border-0 w-100 dropdown-toggle" 
                type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GENRES
            </button>
            <div class="dropdown-menu drop-menu-filter w-100 rounded-o p-0" aria-labelledby="dropdownMenuButton2">
                <div class="row w-100 m-0 sort-dropdown">
                    <div class="col-12 p-3 m-0 sort-inner">
                        <h3>Genres</h3>
                            <ul class="p-0 sidebar-lists">
                                {% for genre in genre_list %}
                                <li><a class="p-2" href="{% url 'shop' %}?genre={{ genre.name }}">{{ genre.friendly_name }}</a></li>
                                <li class="dropdown-divider"></li>
                                {% endfor %}
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Artist Section -->
        <div class="col-4 text-right dropdown position-static w-100">
            <button class="btn btn-dark rounded-0 border-0 w-100 dropdown-toggle" 
                type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ARTISTS
            </button>
            <div class="dropdown-menu drop-menu-filter w-100 rounded-o p-0" aria-labelledby="dropdownMenuButton3">
                <div class="row w-100 m-0 sort-dropdown">
                    <div class="col-12 p-3 m-0 sort-inner">
                        <h3>Artists</h3>
                        <ul class="p-0 sidebar-lists">
                            {% for artist in artists %}
                            <li><a class="p-2" href="{% url 'shop' %}?artist={{ artist|urlencode }}">{{ artist }}</a></li>
                            <li class="dropdown-divider"></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>